/* Autor: M.Krausewitz */
/* Version: 1.0 */
/* Datum: 23.12.2018 */

body {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50%  50%;
	background-size: contain;
	background-color: navy;
	font-family: Helvetica;
	
}
body.V{
	background-image: url("BGV.jpg");
}

body.VI{
	background-image: url("BGVI.jpg");
}

div.ws{
	display: block;
	width: 96%;
	margin: 2%;
}




div.nav{
	display: inline-block;
	width: 25%;
	
}

div.text{
	display: inline-block;
	margin-left:2%;
	width: 66%;
	vertical-align: top;
	background-color:white;
	padding: 3%;
	opacity: 0.85;
}

h3 {
	text-decoration: underline;
}

table,th,td {
	border: 3px solid black;
	padding: 10px;
}
table {
	border-collapse: collapse;
}

th {
	height: 50px;
}

.text img{
	width: 400px;
	height: auto;
}


div.toph {
	background-color: white;
	padding:1%;
	text-align:center;
}


div.extL{
	padding: 2%;
	margin-bottom: 10px;
	opacity: 0.85;
	background-color: #666666;
}

div.intL{
	padding: 2%;
	opacity: 0.85;
	background-color: #666666;
}

div.nav a{
	text-decoration:none;
	color: black;
}


div.nav a:hover{
	text-decoration:none;
	background-color: #61616b;
}

div.extL  a:active{
	background-color: #5c5c70;
}


@media only screen and (max-width: 700px){
	
	div.nav, div.text{
		display: block !important;
		margin-left: 0% !important;
		
	}
	
	div.nav{
		width: 100% !important;
		margin-bottom:20px;
	}
	
	div.text {
		width:94% !important;
	}
	
	
	img{
		width: 200px !important;
	}
	
}
