/*Autor:Martin Krausewitz*/
/*Datum:03.11.2016*/

.head{
	background-color:#ffffff;
	margin:25px;
}

p{
	font-size:20px;
}

.text{
	margin:100px;
	margin-left:200px;
	margin-right:200px;
	margin-bottom:10px;
	margin-top:10px;
	font-size:20px;
}


ul{ 
	margin-right:200px;
	margin-left:200px;
	font-size:20px;
}

h1{
	color:#b3002d;
	font-size:3em;
}



h2{
	color:#26ff26;
	font-size:2em;
}



.Spielmodi{
	background-color:white;
}

a:link{
	color:blue;
	text-decoration:none;
}
a:hover{
	color:red;
	text-decoration:underline;
	font-family:Impact;
}


video{
	width:640px;
}

img{
	width:640px;
}








